.part-characters{
    margin: 20px;
    width: 90%;
    background-color: #0005;
    place-self: center;
    display: flex;
    flex-direction: column;
}

.character-box{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
    
}
.character-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.character-container img{
    height: 200px;
    border: 5px solid #000;
}

.back-arrow{
    height: 50px;
    place-self: end;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.back-arrow p{
    transform: translate(90px,-35px);
    position: absolute;
}