body{
    height: 100vh;
    display: grid;
    grid-template-rows: 104px 1fr 47px;
}
header{
    background: url(../img/header.png);
    background-position: center;
}
.gradient{
    height: 100%;
    width: 100%;
    background: linear-gradient(#0000,#ba007cd2);
}

main{
    background-color: #20202D;
}

footer{
    background: url(../img/header.png);
    background-position: top;
}

